<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<script type="text/javascript">
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()})
</script>

<body>
<div>
  <h1>환영합니다.</h1>
<br>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  약관보기
</button>

<form action="/send" method="post">
  <textarea name="message"></textarea>
  <input type="submit" value="Send message" />
</form>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">약관</h4>
      </div>
      <div class="modal-body">
        본 프로그램은 17세 미만 어린이가 사용하기에는 부적절하오니 보호자께서는 이용에 주의하시기 바랍니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-primary">무반응</button>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
